<!-- About Section -->
<section class="alternative-background" id="unterstuetzung">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Unterstützung</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>Kosten</h3>
                <p>Ein Widerspruch kostet bei Ablehnung in der Regel 30 Euro. Der
                    Gang vor das (bei IFG-Sachen zuständige) Verwaltungsgericht kann
                    unterschiedlich viel kosten: Eine Vertretung durch einen Anwalt ist
                    nicht nötig. Gebühren für Gerichtskosten und evtl. einen Anwalt
                    berechnen sich nach festen Regeln (bei einem Streitwert von in der Regel
                    5000 Euro bei IFG-Fällen). Mehr Infos gibt es hier und hier.</p>
                <h3>Unterstützung</h3>
                <p>Die Mailinglist von ExpertInnen aus dem
                    FragDenStaat-Umfeld gibt Rat</p>
                <p>
                    In der Datenbank aller Gerichtsentscheidungen zur Informationsfreiheit
                    lassen sich Argumentationshilfen aus ähnlichen Fällen finden.
                </p>
                <h3>Wissen</h3>
                <p>IFG-Gesetzeskommentare bieten Orientierung im
                    Paragraphendschungel. Auf Bundesebene kostenlos der Kommentar von
                    Mecklenburg und Pöppelmann und derzeit leider vergriffen der Kommentar
                    von Schoch. Für die Landesebenen gibt es teils eigene Kommentare.</p>
                <h3>Anwälte</h3>
                <p>
                    Einige Kanzleien sind auf Auskunftsrechte spezialisiert. Tipps
                    gibt unsere Mailingliste
                </p>
                <h3>Fundraising</h3>
                <p>Wir helfen beim Fundraising für aussichtsreiche Klagen über
                    unsere Spendenplattform auf Betterplace. (Freie) Journalisten können
                    Klagen ggf. über Journalistenverbände finanzieren lassen.</p>
            </div>
        </div>
    </div>
</section>