<!-- About Section -->
<section id="vorgehen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Vorgehen</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <ol>
                    <li>Anfrage an Behörden nach dem IFG über FragDenStaat.de stellen</li>
                    <li> Bei Ablehnung über die Plattform Vermittlung von
                        Datenschutzbeauftragten einschalten</li>
                    <li>Innerhalb eines Monats formlos Widerspruch einreichen mit Begründung</li>
                    <li>Bei Ablehnung des Widerspruchs Klage einreichen</li>
                </ol>
            </div>
        </div>
    </div>
</section>